<body>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 text-center">Mongo Scraper</h1>
            <p class="lead text-center"><strong>The latest music news from SPIN</strong></p>
        </div>
    </div>

    <div id="articles">
        {{#each articles}}
            {{> articles }}
        {{/each}}
    </div>

</body>
